opencv-python-headless
imutils
scipy
pytesseract
fastapi
uvicorn
python-multipart
pillow

pandas
prophet
streamlit
scikit-learn
matplotlib
statsmodels

numpy 
tensorflow
openpyxl

sqlalchemy
psycopg2-binary
python-dotenv
alembic  
ollama